<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Order Confirmation The Springs | Taphouse & Eatery</title>
  <link href="css/bootstrap.css" rel="stylesheet">
</head>
<header> <img src="http://christirichmond.com/wp-content/uploads/2018/01/banner.jpg" style="max-width:100%;height:auto;"> </header>
<body style="background-color:#212121">


<h3>Please review your order, then click the Order Now button.</h3>

<p> You've selected <%=sandwich %> & <%=sides %>. <br> <br>
  
    <button type='submit' class='btn btn-primary'>Order Now</button>
    
    
<h4> Thank you for your order!</h4>
    </body>
</html>