<p style="text-align: left;">I'm a graphic designer specializing in branding, printed materials, logo design and WordPress websites. I've worked in this space for the past 15 years. The majority of my clients come from agencies and design shops, but I do take on a few select clients each year, as time allows. I also dabble in illustration, art and photography and hope to soon include some of my pieces for sale.</p>
<p style="text-align: left;">Thanks for stopping by! If you'd like to work with me or just say hello, please contact me <a href="mailto: christimrichmond@gmail.com">here</a>, or follow me on social media.</p>
<p style="text-align: center;">All the best,
♥ Christi</p>