<!DOCTYPE html>
<html>
<head>
<br>
<table style="width:100%">
    <th align= "left">&nbsp &nbsp<img src = "http://christirichmond.com/wp-content/uploads/2017/10/1013cr.png">
	</th>
    
    <th align= "right"><font color= "gray">304.555.1212 </font>&nbsp &nbsp 
    </th>

 </table>


<style>
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("http://christirichmond.com/wp-content/uploads/2016/04/Penny-012416.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
  font-family: Sans-Serif;
  font-size: 12pt
}


</style>
</head>
<body>
<div class="bg"></div>
<p><center>
	© Christi Richmond, 2017 <br>
	<a href="http://www.clemdog.com/gallery" target="_blank">View more!</a>
</p></center>

</body>
</html>