<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Christi Richmond</title>
  <link href="css/bootstrap.css" rel="stylesheet">

</head>
<header> <img src="http://christirichmond.com/wp-content/uploads/2018/01/crbackground.jpg" style="max-width:100%;height:auto;"> </header>
  <p id="getdate"></p>

<script>
document.getElementById("getdate").innerHTML = Date();
</script>


</body>
</html>
