<html>
    <head>
        <title>Welcome to Christis</title>
    </head>

<body>

<h1>Welcome to Christis</h1>

<form action="/order/" method="POST">
    1st_Item: <input type="text" name="1st_Item">
    <br>
    <br>
    2nd_Item: <input type="text" name="2nd_Item">
    <br>
    <br>
    3rd_Item: <input type="text" name="3rd_Item">
    <br>
    <br>
    <input type="Submit" name="Place Order">
</form>

</body>
</html>